<header>
  <link rel="stylesheet" href="/stylesheets/feeds.css">
</header>
<ul class="nav nav-tabs">
  <li class="nav-item">
    <a class="nav-link" href="/restaurants">首頁</a>
  </li>
  <li class="nav-item">
    <a class="nav-link active" href="/restaurants/feeds">最新動態</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/users/top">美食達人</a>
  </li>
</ul>
<br /><br />
<h1>最新動態</h1>
<hr />
<div class="row">
  <div class="col-md-6">
    <div class="card">
      <div class="card-header">
        最新餐廳
      </div>
      <div class="card-body">
        {{#each restaurants}}
        <div>
          <h4>
            <a href="/restaurants/{{this.id}}" style="text-decoration: none;"class="feeds-restaurant-name">{{this.name}}</a>
            <small class="feeds-restaurant-category">{{this.Category.name}}</small>
          </h4>
          <p class="feeds-restaurant-description">{{this.description}}</p><p class="feeds-restaurant-createdAt text-right">
          {{moment this.createdAt}}</p>
          <hr>
        </div>
        {{/each}}
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="card">
      <div class="card-header">
        最新評論
      </div>
      <div class="card-body">
        {{#each comments}}
        <div>
          <h4>
            <a href="/restaurants/{{this.Restaurant.id}}"style="text-decoration: none;"class="feeds-comment-restaurant-name">{{this.Restaurant.name}}</a>
          </h4>
          <p class="feeds-comment-text">{{this.text}}</p>
          by <a href="/users/{{this.User.id}}"style="text-decoration: none;"class="feeds-comment-user">{{this.User.name}}</a> <p class="feeds-comment-createdAt text-right">
          at {{moment this.createdAt}}
          </p>
          <hr>
        </div>
        {{/each}}
      </div>
    </div>
  </div>
</div>