<header>
  <link rel="stylesheet" href="/stylesheets/profile.css">
</header>
<div class="container">
  {{> message}}
<div class="user-profile row d-flex">
  <div class="user-avatar col-md-5 p-0">
  <img class="user-avatar-img " {{#if profileUser.image}}src={{profileUser.image}}{{/if}} style=" background: #fff;  width: 400px; height: 400px;">

  </div>
  <div class="user-info col-md-7 mt-2 pl-5 pt-3">
    <h1 class="user-name">{{profileUser.name}}</h1>
    <p class="email my-4">{{profileUser.email}}</p>
    <p class="comment-counts"><strong>{{filteredCommentRestaurant.length}}</strong> 已評論餐廳</p>
    <p class="favorite-counts"> <strong>{{profileUser.FavoritedRestaurants.length}}</strong> 收藏的餐廳</p>
    <p class="following-counts"> <strong>{{profileUser.Followings.length}}</strong> followings(追蹤者)</p>
    <p class="followers-counts"><strong>{{profileUser.Followers.length}}</strong> followers(追隨者)</p>
    {{#ifCond userId profileUser.id}}
    <form action="/users/{{profileUser.id}}/edit" method="GET" style="display: contents;"><button type="submit"class="btn btn-primary edit-button">Edit</button></form>
      {{else}}
      {{#if profileUser.isFollowed }}
      <form action="/following/{{profileUser.id}}?_method=DELETE" method="POST" style="display: contents;"><button type="submit"
          class="btn btn-danger remove-follow-button">取消追蹤</button></form>
      {{else}}
      <form action="/following/{{profileUser.id}}" method="POST" style="display: contents;"><button type="submit"
          class="btn btn-primary follow-button">追蹤</button></form>
      {{/if}}
    {{/ifCond}}
  </div>
</div>
<div class="lists">
<div class="following-list">
  <div class="list-title">{{profileUser.Followings.length}} followings(追蹤者)</div>
  <div class="following-avatars">
    {{#each profileUser.Followings}}
    <a href="/users/{{this.id}}"class="text-decoration-none">
      <img class="followings-image" {{#if this.image}}src={{this.image}}{{/if}} style=" background: #fff;  width: 162px; height: 162px;">
    </a>
    {{/each}}
  </div>
</div>
<div class="comment-list">
  <div class="list-title text-decoration-none;">{{filteredCommentRestaurant.length}} 已評論餐廳</div>
  <div class="comment-restaurant">
    {{#each filteredCommentRestaurant}}
    <a href="/restaurants/{{this.id}}">
      <img class="comment-restaurant-image" {{#if this.image}}src={{this.image}}{{/if}} style=" background: #fff;  width: 162px; height: 162px;">
    </a>
    {{/each}}
  </div>
</div>
<div class="follower-list">
  <div class="list-title">{{profileUser.Followers.length}} followers(追隨者)</div>
  <div class="following-avatars">
    {{#each profileUser.Followers}}
    <a href="/users/{{this.id}}"class="text-decoration-none;">
      <img class="followings-image"{{#if this.image}}src={{this.image}}{{/if}} style="background: #C4C4C4;  width: 162px; height: 162px;"
      >
    </a>
    {{/each}}
  </div>
</div>

<div class="favorite-list">
  <div class="list-title">{{profileUser.FavoritedRestaurants.length}} 收藏的餐廳</div>
  <div class="favorite-restaurant">
    {{#each profileUser.FavoritedRestaurants}}
    <a href="/restaurants/{{this.id}}"class="text-decoration-none;">
      <img class="favorite-restaurant-image  " {{#if this.image}}src={{this.image}}{{/if}} style=" background: #C4C4C4;  width: 162px; height: 162px;">
    </a>
    {{/each}}
  </div>
</div>
