<header>
  <link rel="stylesheet" href="/stylesheets/profile.css">
</header>
<div class="container">
<div class="user-profile row d-flex">
  <div class="user-avatar col-md-5 p-0">
  <img class="user-avatar-img " {{#if profileUser.image}}src={{profileUser.image}}{{/if}} style=" background: #C4C4C4;  width: 400px; height: 400px;">

  </div>
  <div class="user-info col-md-7 mt-2 pl-5 pt-3">
    <h1 class="user-name">{{profileUser.name}}</h1>
    <p class="email my-4">{{profileUser.email}}</p>
    <p class="comment-counts">{{filteredCommentRestaurant.length}} 已評論餐廳</p>
    <p class="favorite-counts"> {{profileUser.FavoritedRestaurants.length}} 收藏的餐廳</p>
    <p class="folllowing-counts"> {{profileUser.Followings.length}} folllowings(追蹤者)</p>
    <p class="followers-counts">{{profileUser.Followers.length}} followers(追隨者)</p>
    {{#ifCond userId profileUser.id}}
    <form action="/users/{{profileUser.id}}/edit" method="GET" style="display: contents;"><button type="submit"
        class="my-5 btn btn-primary">Edit</button></form>
      {{else}}

      {{#if profileUser.isFollowed }}
      <form action="/following/{{profileUser.id}}?_method=DELETE" method="POST" style="display: contents;"><button type="submit"
          class="btn btn-danger my-5">取消追蹤</button></form>
      {{else}}
      <form action="/following/{{profileUser.id}}" method="POST" style="display: contents;"><button type="submit"
          class="btn btn-primary my-5">追蹤</button></form>
      {{/if}}

    {{/ifCond}}
  </div>
</div>
<div class="lists">
<div class="folllowing-list">
  <div class="list-title">{{profileUser.Followings.length}} folllowings(追蹤者)</div>
  <div class="folllowing-avatars">
    {{#each profileUser.Followings}}
    <a href="/users/{{this.id}}"style="text-decoration: none;">
      <img class="followings-image" {{#if this.image}}src={{this.image}}{{/if}} style=" background: #C4C4C4;  width: 162px; height: 162px;">
    </a>
    {{/each}}
  </div>
</div>
<div class="comment-list">
  <div class="list-title"style="text-decoration: none;">{{filteredCommentRestaurant.length}} 已評論餐廳</div>
  <div class="comment-restaurant">
    {{#each filteredCommentRestaurant}}
    <a href="/restaurants/{{this.id}}">
      <img class="comment-restaurant-image" {{#if this.image}}src={{this.image}}{{/if}} style=" background: #C4C4C4;  width: 162px; height: 162px;">
    </a>
    {{/each}}
  </div>
</div>
<div class="folllower-list">
  <div class="list-title">{{profileUser.Followers.length}} followers(追隨者)</div>
  <div class="folllowing-avatars">
    {{#each profileUser.Followers}}
    <a href="/users/{{this.id}}"style="text-decoration: none;">
      <img class="followings-image"{{#if this.image}}src={{this.image}}{{/if}} style="background: #C4C4C4;  width: 162px; height: 162px;"
      >
    </a>
    {{/each}}
  </div>
</div>

<div class="favorite-list">
  <div class="list-title">{{profileUser.FavoritedRestaurants.length}} 收藏的餐廳</div>
  <div class="favorite-restaurant">
    {{#each profileUser.FavoritedRestaurants}}
    <a href="/restaurants/{{this.id}}"style="text-decoration: none;">
      <img class="favorite-restaurant-image  " {{#if this.image}}src={{this.image}}{{/if}} style=" background: #C4C4C4;  width: 162px; height: 162px;">
    </a>
    {{/each}}
  </div>
</div>
</div>
</div>
