<header>
  <link rel="stylesheet" href="/stylesheets/restaurant.css">
</header>
<div class="row mt-5">
  {{> message}}
  <div class="col-md-12">
    <h1>{{restaurant.name}}</h1>
    <p class="my-2" style="font-size: 1.2rem;">[{{restaurant.Category.name}}]</p>
  </div>
  <div class="col-md-4">
    <img class="img-responsive center-block" src="{{restaurant.image}}" style="width: 250px;margin-bottom: 25px;">
    <div class="well">
      <ul class="list-unstyled">
        <li><strong>Opening Hour:</strong> {{restaurant.opening_hours}}</li>
        <li><strong>Tel:</strong> {{restaurant.tel}}</li>
        <li><strong>Address:</strong> {{restaurant.address}}</li>
      </ul>
    </div>
  </div>
  <div class="col-md-8 content">
    <p class="my-5">{{restaurant.description}}</p>
  <div class="buttons">
    <a href="/restaurants/{{restaurant.id}}/dashboard"class="text-decoration-none"><button type="submit" class="btn btn-danger">Dashboard</button></form></a>
    {{#if isFavorited }}
    <form action="/favorite/{{restaurant.id}}?_method=DELETE" method="POST" style="display: contents;"><button type="submit"
        class="btn  btn-outline-danger ">移除收藏<i class="fas fa-heart ml-2"></i></button></form>
    {{else}}
    <form action="/favorite/{{restaurant.id}}" method="POST" style="display: contents;"><button type="submit"
        class="btn  btn-outline-danger">加入收藏<i class="far fa-heart ml-2"></i></button>
    </form>
    {{/if}}
    {{#if isLiked }}
    <form action="/like/{{restaurant.id}}?_method=DELETE" method="POST" style="display: contents;"><button type="submit"
        class="btn btn-outline-danger">Unlike<i class="fas fa-thumbs-up ml-2"></i></button></form>
    {{else}}
    <form action="/like/{{restaurant.id}}" method="POST" style="display: contents;"><button type="submit"
        class="btn btn-outline-danger">Like<i class="far fa-thumbs-up ml-2"></i></button></form>
    {{/if}}
    </div>
    </div>
  </div>
  <hr>

<br />
<br />
<div class="col-md-12">
<h3 class="mb-4">所有評論：</h3>
{{#each restaurant.Comments}}
{{#if ../user.isAdmin}}
<form action="/comments/{{this.id}}?_method=DELETE" method="POST" style="float: right;">
  <button type="submit" class="btn btn-danger">Delete</button>
</form>
{{/if}}
<blockquote class="blockquote mb-0">
  <h4 class="mb-3"><a href="/users/{{this.User.id}}"style="text-decoration: none;" >{{this.User.name}}</a></h4>
  <p class="mb-3">{{this.text}}</p>
  <footer class="blockquote-footer">{{moment this.createdAt}}</footer>
</blockquote>
<hr />
{{/each}}
<form action="/comments" method="POST"class="mb-5">
  <div class="form-group">
    <label for="text">留下評論：</label>
    <small>最多 150 字
    </small>
    <textarea class="form-control" id="text" name="text" rows="3" maxlength="150" autofocus></textarea>
  </div>
  <input type="hidden" name="restaurantId" value="{{restaurant.id}}" />
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
<a href="javascript:history.back()" class="text-decoration-none">回上一頁</a>
</div>
</div>
