<header>
  <link rel="stylesheet" href="/stylesheets/topRestaurant.css">
</header>
<ul class="nav nav-tabs mt-5">
  <li class="nav-item">
    <a class="nav-link" href="/restaurants">首頁</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/restaurants/feeds">最新動態</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/users/top">美食達人</a>
  </li>
  <li class="nav-item">
    <a class="nav-link active" href="/restaurants/top">人氣餐廳</a>
  </li>
</ul>
<br /><br />
<h1>人氣餐廳</h1>
<hr />
<div class="restaurant-wrapper">
      {{> message}}
  {{#each restaurants}}
  <div class="top-restaurant">
      <img src="{{this.image}}" alt="top-restaurant-image"class="restaurant-image">
    <div class="top-restaurant-info ">
      <a href="/restaurants/{{this.id}}" class="restaurant-name" style="text-decoration: none;">
        {{this.name}}
      </a>
      <h5 class="my-2"><span class="badge badge-secondary">收藏數：{{this.FavoritedCount}}</span></h5>
      <p class="card-text">{{this.description}}</p>
    
    <div class="buttons mt-5" >
      <a href="/restaurants/{{this.id}}" class="restaurant-name" style="text-decoration: none;"><button type="submit" class="btn btn-primary show">Show</button></a>
      {{#if this.isFavorited }}
      <form action="/favorite/{{this.id}}?_method=DELETE" method="POST" style="display: contents;"><button type="submit"
          class="btn btn-info">移除最愛<i class="fas fa-heart ml-2"></i></button></form>
      {{else}}
      <form action="/favorite/{{this.id}}" method="POST" style="display: contents;"><button type="submit"
          class="btn btn-outline-info">加到最愛<i class="far fa-heart ml-2"></i></button>
      </form>
      {{/if}}
    </div>
    </div>
  </div>

  {{/each}}
</div>