<header>
  <link rel="stylesheet" href="/stylesheets/topUser.css">
</header>
<ul class="nav nav-tabs">
  <li class="nav-item">
    <a class="nav-link" href="/restaurants">首頁</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/restaurants/feeds">最新動態</a>
  </li>
  <li class="nav-item">
    <a class="nav-link active" href="/users/top">美食達人</a>
  </li>
</ul>
<br /><br />
<h1>美食達人</h1>
<hr />
<div class="row" style="text-align: center;">
  {{#each users}}
  <div class="col-md-3 col-sm-5">
    <a href="/users/{{this.id}}">
      <img class="user-image mt-5" {{#ifCond this.image ' '}} {{else}}style="width: 200px; height: 200px"src={{this.image}}{{/ifCond}}
    alt="user-image">
    </a>
    <h2 class="user-name mt-3">{{this.name}}</h2>
    <h5><span class="follower-count badge badge-secondary my-3 p-2">追蹤人數：{{this.FollowerCount}}</span></h5>
    <p class="follow-ship">
      {{#ifCond this.id ../user.id}}
      {{else}}
      {{#if this.isFollowed }}
    <form action="/following/{{this.id}}?_method=DELETE" method="POST" style="display: contents;"><button type="submit"
        class="btn btn-danger mb-3">取消追蹤</button></form>
      {{else}}
    <form action="/following/{{this.id}}" method="POST" style="display: contents;"><button type="submit"
        class="btn btn-primary mb-3">追蹤</button></form>
      {{/if}}
      {{/ifCond}}
    </p>
  </div>
  {{/each}}
</div>